<!-- Include components -->
<%- include('./../partials/head.ejs') %>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                view Fact
            </div>
            <div class="card-body">
                <div class="form-group">
                    <h4>Fact:</h4>
                    <p><%= fact.fact %></p>
                </div>
                <hr>
                <div class="form-group">
                    <h4>Length:</h4>
                    <p><%= fact.length %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./../partials/foot.ejs') %>